.root {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.num11 {
  width: 421px;
  height: 152px;
  margin-right: 199px;
  cursor: pointer;
}
.home {
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
  color: black;
  margin-right: 27px;
  cursor: pointer;
}
.category {
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
  color: black;
  margin-right: 23px;
  cursor: pointer;
}
.about {
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
  color: black;
  margin-right: 26px;
  cursor: pointer;
}
.icons {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.iconSearch {
  width: 24.78px;
  height: 24.52px;
  margin-right: 14.32px;
}
.vector {
  width: 23.19%;
  height: 81.6%;
  margin-right: 17.66px;
}
.iconUserCircleAlt {
  width: 29.34px;
  height: 30px;
}
.btns {
  display: flex;
  width: 600px;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  cursor: default;
}

.modal {
  background-color: #f9f6ee;
  border-radius: 30px 0px 30px 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 60px;
  left: 1505px;
  align-items: center;
  justify-items: center;
  gap: 20px;
  box-shadow: -1px 0px 18px -1px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -1px 0px 18px -1px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -1px 0px 18px -1px rgba(0, 0, 0, 0.63);
  height: 200px;
  width: 200px;
  cursor: default;
}
.toProfileBtn {
  background-color: rgba(217, 217, 217, 1);
  border-radius: 20px;
  width: 150px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.userProfileName {
  font-family: 'Roboto';
  font-weight: 700;
  line-height: normal;
  color: black;
  align-self: stretch;
  text-align: center;
  font-size: 15px;
}
.toLogoutBtn {
  background-color: rgba(217, 217, 217, 1);
  border-radius: 20px;
  width: 150px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.logOut {
  font-family: 'Roboto';
  font-weight: 700;
  line-height: normal;
  color: black;
  align-self: stretch;
  text-align: center;
  font-size: 15px;
}


// notif

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  cursor: default;
  background-color: gray;
  opacity: 0.5;
}
.notifBadoy {
  background-color: #fbea88;
  width: 500px;
  height: 922px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: space-around;
  flex-direction: column;
  position: fixed;
  right: 200px;
  top: 100px;
}
.NOTIFHEADER {
  width: 90%;
  padding-left: 10px;
}

.notifBody {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 85%;
  gap: 10px;
  text-decoration: none;
  color: black;
}
.notif {
  height: 59px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.userPic {
  width: 59px;
  height: 59px;
  border-radius: 150px;
  background-color: gray;
}
.notifText {
  height: 59px;
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.postPic {
  height: 59px;
  width: 47px;
  border-radius: 10px;
  background-color: gray;
}
.userName {
  font-weight: 700;
}
.time {
  color: gray;
  font-weight: 600;
}
.passage{
  font-weight: 500;
}